{% extends "base.html" %}

{% block title %} HERE {% endblock %}

{% block content %}
<!-- <form  method="post" enctype="multipart/form-data" class="form-control">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" class="btn-primary" />
</form> -->

<div class="row">
  <form method="post" enctype="multipart/form-data" class="form-control">
      {% csrf_token %}
    <fieldset>
      <legend>Legend</legend>
      <label>Speed</label>
      <input type="text" id="speed" name="speed" placeholder="Speed in miles/hr">

      <label class="control-label">Image</label>
      <input id="image" name ="image" type="file" class="file" data-show-preview="true">

      <label class="control-label">Audio</label>
      <input id="audio"  name ="audio" type="file" class="file" data-show-preview="true">

      <button type="submit" class="btn">Submit</button>
    </fieldset>
  </form>
  </div>
</div>
{% endblock %}
